DB_USER=halo
DB_NAME=halo
HALO_EXTERNAL_URL=https://gb.aace.cc/
HALO_JVM_XMX=384m
HALO_JVM_XMS=384m
DOMAIN=*.aace.cc
EMAIL=guobin_bj1007@163.com
RENEW_INTERVAL=12
HALO_CPU_LIMIT=1.0
HALO_MEM_LIMIT=512m
POSTGRES_CPU_LIMIT=1.0
POSTGRES_MEM_LIMIT=512m
NGINX_CPU_LIMIT=0.5
NGINX_MEM_LIMIT=128m
