# ============================================
# 数据库配置
# ============================================
DB_USER=halo
DB_NAME=halo

# ============================================
# Halo 应用配置
# ============================================
HALO_EXTERNAL_URL=https://your-domain.com/
HALO_JVM_XMX=384m
HALO_JVM_XMS=384m

# ============================================
# SSL 证书配置
# ============================================
DOMAIN=*.your-domain.com
PRIMARY_DOMAIN=your-domain.com
EMAIL=your-email@example.com
RENEW_INTERVAL=12
HALO_CPU_LIMIT=1.0
HALO_MEM_LIMIT=512m
POSTGRES_CPU_LIMIT=1.0
POSTGRES_MEM_LIMIT=512m
NGINX_CPU_LIMIT=0.5
NGINX_MEM_LIMIT=128m
